################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeploymentSaurabh/obj/Debug/DeploymentSaurabh.csprojAssemblyReference.cache
